.THIS {
	font-family: open_sansregular;
    font-size: 16px;
    line-height: 1.375;
    position: relative;
    z-index: 1;
}

.THIS h1, .THIS h2, .THIS h3, .THIS h4, .THIS h5, .THIS h6 {
    font-family: open_sansregular;
}

.THIS .fixedHeader {
	position: fixed;
	width: 100%;
	background-color: #fff;
	z-index: 11;
	top: 0;
}

.THIS .profileMenuRegion .ui-widget {
	margin: 0;
}

.THIS .mainHeader {
	padding: 10px 0;
	box-shadow: 0 10px 15px 0px #dcdcdc;
	display: flex;
	align-items: center;
	background-color: #a3a3a3;
}

/* ---- Menu Button styles ---- */
.THIS .mainHeader .menuToggle {
	width: 45px;
}

.THIS .mainHeader .menuToggle .menuBtn {
    text-align: center;
    vertical-align: middle;
    border: none;
    background-color: transparent;
    color: #fff;
    margin-top: -15px;
}

.THIS .mainHeader .menuToggle .menuBtn.menuActive {
	color: #000;
}

.THIS .mainHeader .menuToggle .menuBtn.slds-button--neutral:hover, .THIS .mainHeader .menuToggle .menuBtn.slds-button--neutral:focus, .THIS .mainHeader .menuToggle .menuBtn.slds-button--neutral:active {
	cursor: pointer;
	background-color: transparent;
}

.THIS .mainHeader .menuToggle .menuBtn.slds-button:focus {
	box-shadow: none;
}

.THIS .mainHeader .menuToggle .menuBtn .caret {
    position: relative;
    margin: 0 12px 0 4px;
}

.THIS .mainHeader .menuToggle .menuBtn .caret:before {
    content: '';
	position: absolute;
	top: 6px;
	left: 6px;
	border-top: 6px solid #fff;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
}

.THIS .mainHeader .menuToggle .menuBtn .caret:after {
    content: '';
	position: absolute;
	left: 7px;
	top: 6px;
	border-top: 5px solid #a3a3a3;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}

.THIS .mainHeader .menuToggle .menuBtn.menuActive .caret:before {
    border-top: none;
    border-bottom: 6px solid #000;
}

.THIS .mainHeader .menuToggle .menuBtn.menuActive .caret:after {
    top: 7px;
    border-top: none;
    border-bottom: 5px solid #a3a3a3;
}

/* ---- Menu & Logo layout styles ---- */
.THIS .mainHeader .menuToggle .separator {
	display: table-cell;
	height: 100%;
	text-align: center;
	vertical-align: middle;
}

.THIS .mainHeader .menuToggle .separator.menuBtn-wrapper {
	display: none;
}

/* ---- Community Name styles ---- */
.THIS .mainHeader .communityTitle .title-wrapper {
	line-height: 1.1em;
	color: #fff;
	font-size: 1.2em;
	font-weight: bold;
	margin-left: 45px;
}

.THIS .mainHeader .communityTitle .title-wrapper a {
	color: #fff;
}

.THIS .mainHeader .communityTitle .title-wrapper a:hover, .THIS .mainHeader .communityTitle .title-wrapper a:visited, .THIS .mainHeader .communityTitle .title-wrapper a:active {
	color: #fff;
	text-decoration: none;
}

/* ---- Search and Notification icons styles ---- */
.THIS .mainHeader .searchRegion .slds-button:focus {
    box-shadow: none;
}

.THIS .mainHeader .searchRegion {
	display: flex;
	align-items: center;
    justify-content: center;
}

/* ---- Profile Styles ---- */
.THIS .mainHeader .profileMenuRegion {
	margin-right: 10px;
}

.THIS .mainHeader .profileMenuRegion .interactions .ui-widget {
	margin: 0;
}

.THIS .mainHeader .profileMenuRegion .selfServiceProfileMenuTrigger a {
	color: #fff;
	box-shadow: none;
}

.THIS .mainHeader .profileMenuRegion .selfServiceProfileMenuTrigger .profileIcon {
	width: 62px;
	height: 62px;
	margin-right: 5px;
}

.THIS .mainHeader .profileMenuRegion .selfServiceProfileMenuTrigger .profileName {
	max-width: 100%;
	float: left;
	margin-top: 20px;
    text-transform: capitalize;
    font-weight: normal;
    font-size: 1em;
    color: #fff;
    font-family: open_sansregular;
}

.THIS .mainHeader .searchRegion	.profileMenuRegion .selfServiceUserProfileMenu .popupTargetContainer {
	margin-right: 10px;
}

.THIS .mainHeader .profileMenuRegion .selfServiceUserProfileMenu .popupTargetContainer .uiMenuItem>a {
	color: #3e3e3e;
}

.THIS .mainHeader .profileMenuRegion .uiMenuList {
	box-shadow: none;
	border: 1px solid #aaa;
	border-radius: 10px;
}

.THIS .mainHeader .profileMenuRegion .uiMenuList .uiMenuItem>span {
	color: #aaa;
}

.THIS .mainHeader .profileMenuRegion .uiMenuList .uiMenuItem>a {
	font-size: .85em;
}

.THIS .mainHeader .profileMenuRegion .uiMenuList .uiMenuItem>a:hover {
	background-color: #fff;
	color: #333;
	font-weight: bold;
}

.THIS .mainHeader .profileMenuRegion .uiMenuList .uiMenuItem>a:focus {
	background-color: #fff;
}

.THIS .mainHeader .profileMenuRegion .uiMenuList .uiMenuItem>a::selection {
	background: rgb(255, 255, 255);
}

.THIS .profileMenuRegion .selfServiceProfileMenuTrigger .triggerDownArrow {
	position: relative;
	border: none;

}

.THIS .profileMenuRegion .selfServiceProfileMenuTrigger .triggerDownArrow:before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	border-top: 6px solid #fff;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
}

.THIS .profileMenuRegion .selfServiceProfileMenuTrigger .triggerDownArrow:after {
	content: '';
	position: absolute;
	left: 1px;
	top: 0px;
	border-top: 5px solid #a3a3a3;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}

.THIS .selfServiceProfileMenuTrigger a, .THIS .selfServiceProfileMenuTrigger a:hover {
	text-shadow: none;
}

/* ---- Navigation styles ---- */
.THIS .slds-global-header__button--icon {
	color: #fff;
}

.THIS .slds-global-header__button--icon:hover .slds-icon {
	fill: #fff !important;
}

/* ---- Main Content Area styles ---- */
.THIS .mainContentArea {
	background-color: #efefef;
	padding-top: 144px;
}

.THIS .mainContentArea .contentArea {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
}

.THIS .forceCommunityHeadline .headlineTitle {
	text-transform: none;
	font-size: 28px;
	font-family: inherit;
	font-weight: 400;
	padding: 0;
	text-align: left;
}

/* --- Trending Articles ---- */
.THIS .selfServiceTopicTrendingArticles42 h2 {
	text-transform: capitalize;
	font-family: inherit;
	padding-bottom: 16px;
	font-size: 20px;
	border-bottom: 1px solid #ccc;
	color: #333;
}

.THIS .selfServiceTopicTrendingArticles42 ul li {
	border-bottom: none;
}

.THIS .selfServiceTopicTrendingArticles42 ul li:first-of-type {
	margin-top: 5px;
}

.THIS .selfServiceTopicTrendingArticles42 ul li a {
	font-family: open_sanssemibold;
	font-size: 14px;
	/* color: #333; */
	color: #8CB7C7;
	display: block;
	border: none;
}

.THIS .selfServiceTopicTrendingArticles42 ul li a span {
	font-size: inherit;
}

.THIS .selfServiceTopicTrendingArticles42 ul li a:hover {
	/* color: rgb(211, 211, 211); */
	color: #3086AB;
}

.THIS .selfServiceTopicTrendingArticles42 ul li a:focus {
	box-shadow: none;
	color: #333;
}

/* ---- Footer styles ---- */
.THIS .themeFooter .footerHigher {
	max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}

.THIS .themeFooter .footerHigher>div {
	margin: 0 10px;
}

.THIS .themeFooter .footerHigher #footerQuestionText {
	font-size: 1.2em;
	color: #565656;
}

.THIS .themeFooter .footerHigher #footerQuestionBtn button {
	padding: 8px 30px 8px 30px;
	border-radius: 0.25em;
	font-weight: normal;
	text-transform: capitalize;
	font-size: 1.2em;
	position: relative;
	background-color: #ea7323;
}

.THIS .themeFooter .footerHigher #footerQuestionBtn button:hover {
	background-color: #c75b13;
}

.THIS .themeFooter .trademark {
	/* background-color: #666; */
	background-color: #a3a3a3;
	text-align: center;
	/* color: #969696; */
	color: #fff;
	padding: 10px 0;
}

/* ---- Global button styles ---- */
.THIS .group.forceChatterChatterFollow {
	justify-content: flex-end;
    border-radius: 15px;
}

.THIS .group.forceChatterChatterFollow button {
	max-width: 150px;
	border: none;
	border-radius: 15px;
}

.THIS .group.forceChatterChatterFollow .slds-button--neutral.slds-is-selected:hover:not([disabled]) {
	border: none;
	border-radius: .25rem;
}

.THIS .group.forceChatterChatterFollow button.follow, .THIS .menu.forceChatterChatterNotification {
	border: none;
	border-radius: 15rem;
	margin-left: 3px;
}

.THIS .group.forceChatterChatterFollow button.following {
	margin-right: 0;
}

.THIS .group.forceChatterChatterFollow .slds-button--neutral.slds-is-selected:hover:not([disabled]) {
	background-color: rgba(5, 5, 5, 0.1);
	transition: background-color .5s;
}

.THIS .menu.forceChatterChatterNotification .triggerLink {
	padding: 1.11rem 0;
	transition: background-color .5s;
	border-radius: .25rem;
}

/* --- Messages Component Fix --- */
.THIS .forceChatterMessages {
	font-size: .875rem;
}

.THIS .forceChatterMessagesListViewHeader .inboxTitle {
	font-size: 1.25rem;
}

.THIS .forceChatterMessages .uiButton--default {
	font-size: .875rem;
}

.THIS .forceChatterMessageDetailViewHeader .inboxTitle, .THIS .forceChatterMessageDetailViewHeader .subject {
	font-size: 1.25rem;
}

.THIS .forceChatterMessageDetailViewHeader .participantsList .otherLink, .THIS .forceChatterMessageDetailViewHeader .forceChatterEntityLink {
	font-size: .875rem;
}

/* --- ForceChatterStyle Fix --- */
.THIS .forceChatterStyle {
	font-size: 1rem;
}

.THIS .forceChatterStyle .forceChatterFeedSorter {
	font-size: 1rem;
}

.THIS .forceChatterStyle input::placeholder {
	font-size: 1rem;
}

.THIS .forceChatterStyle .cuf-noMore-title {
	font-size: 1.5rem;
}

.THIS .forceChatterStyle .cuf-preamble {
	font-size: 1rem;
	line-height: 1.375;
}

.THIS .forceChatterStyle .slds-text-body_small, .THIS .forceChatterStyle .slds-text-body--small {
	font-size: .875rem;
}

.THIS .forceChatterFeedBodyText.cuf-feedBodyText {
	line-height: 1.375;
}

.THIS .forceTopicSimpleTopicAssignments.topic-topicContainer {
	font-size: 1rem;
}

.THIS .forceChatterSimpleFeedItemTopics--pill ul.topic-commaSeparatedList li {
	font-size: .875rem;
}

.THIS .slds-post__footer {
	font-size: 0.875rem;
}

.THIS .forceChatterFeedback .commentHeader {
	font-size: 1rem;
}

.THIS .forceChatterFeedback .uiButton--default {
	font-size: .875rem;
}

/* --- Discussions Fix --- */
.THIS .forceChatterCompactFeedItemBody .title {
	font-size: 1.25rem;
}

.THIS .forceCommunityFeedItemDetail .cuf-feedElement .cuf-questionTitle {
	font-family: open_sansregular;
	font-size: 1.25rem;
}

/* Other Styles */
/* Break single words that are too big in cell width */
.THIS .mainContentArea .contentArea .ui-widget {
	word-break: normal;
	word-wrap: normal;
}

@media (max-width: 768px) {
	.THIS .mainHeader .communityTitle {
		display: none;
	}

	.THIS .mainHeader {
		display: block;
		position: relative;
		padding-bottom: 0;
		box-shadow: none;
		min-height: 134px;
	}

	.THIS .mainHeader .menuToggle {
		display: block;
		width: 100%;
		min-height: 60px;
	}

	.THIS .mainHeader .menuToggle .separator {
		display: initial;
		border: none;
	}

	.THIS .mainHeader .menuToggle .separator.menuBtn-wrapper {
		position: absolute;
		display: flex;
    	height: 70px;
	    width: 70px;
		border: none;
	}

	.THIS .mainHeader .menuToggle .separator.menuBtn-wrapper .menuBtn {
		padding: 0;
		padding-left: 15px;
		width: initial;
		height: initial;
	}

	.THIS .mainHeader .searchRegion {
		display: block;
		width: 100%;
		max-width: 100%;
		background-color: #888;
		padding: 10px 0 22px;
		margin-top: 10px;
	}

	.THIS .mainHeader .searchRegion .notifications {
		display: none;
	}

	.THIS .mainHeader .searchRegion	.profileMenuRegion .selfServiceUserProfileMenu {
		position: initial;
		margin: 22px 0 -22px;
	}

	.THIS .mainHeader .searchRegion	.profileMenuRegion .selfServiceUserProfileMenu .selfServiceProfileMenuTrigger {
		top: 15px;
		right: 15px;
		position: absolute;
		padding-top: 0;
	}

	.THIS .mainHeader .searchRegion	.profileMenuRegion .selfServiceUserProfileMenu .popupTargetContainer {
		margin-right: 0px;
		left: 0;
		right: 0;
		border-radius: 0;
		border: none;
		transform: none;
		padding-top: 0;
		position: initial;
		float: none;
	}

	.THIS .mainHeader .searchRegion	.profileMenuRegion .selfServiceUserProfileMenu .popupTargetContainer.visible {
		display: inline;
	}

	.THIS .mainHeader .searchRegion	.profileMenuRegion .selfServiceUserProfileMenu .popupTargetContainer .menuList {
		background-color: #888;
	}

	.THIS .mainHeader .profileMenuRegion {
		margin-right: 0;
	}

	.THIS .mainHeader .profileMenuRegion .selfServiceUserProfileMenu .popupTargetContainer .uiMenuItem:first-of-type {
		border-top: 2px solid #989898;
	}

	.THIS .mainHeader .profileMenuRegion .selfServiceUserProfileMenu .popupTargetContainer .uiMenuItem {
		border-top: 1px solid #989898;
		border-bottom: 1px solid #989898;
	}

	.THIS .mainHeader .profileMenuRegion .selfServiceUserProfileMenu .popupTargetContainer .uiMenuItem:last-of-type {
		border-bottom: 2px solid #989898;
	}

	.THIS .mainHeader .profileMenuRegion .selfServiceUserProfileMenu .popupTargetContainer .uiMenuItem>a {
		color: #fff;
		padding: 8px 0 11px 18px;
		font-size: 1em;
		font-family: open_sansregular;
	}

	.THIS .mainHeader .profileMenuRegion .selfServiceUserProfileMenu .selfServiceProfileMenuTrigger .profileIcon {
		width: 50px;
		height: 50px;
	}

	.THIS .navigation.hideNav {
		display: none;
	}

	.THIS .mainContentArea .contentArea {
		padding-top: 134px
	}

	.THIS .group.forceChatterChatterFollow button.follow, .THIS .menu.forceChatterChatterNotification {
		margin-right: 0;
	}

	.THIS .themeFooter .footerHigher {
		display: block;
	}

	.THIS .themeFooter .footerHigher #footerQuestionText {
		padding: 10px 25px;
		text-align: center;
	}

	.THIS .themeFooter .footerHigher #footerQuestionBtn button {
		padding: 8px 0;
	}

	.THIS .themeFooter .footerHigher #footerQuestionBtn button span::after {
		content: none;
	}

	.THIS .themeFooter .trademark {
		padding: 10px 5px;
	}
}.THIS {
	font-family: open_sansregular;
    font-size: 16px;
    line-height: 1.375;
}

.THIS h1, .THIS h2, .THIS h3, .THIS h4, .THIS h5, .THIS h6 {
    font-family: open_sansregular;
}

.THIS .fixedHeader {
	position: fixed;
	width: 100%;
	background-color: #fff;
	z-index: 11;
	top: 0;
}

.THIS .profileMenuRegion .ui-widget {
	margin: 0;
}

.THIS .mainHeader {
	padding: 10px 0;
	box-shadow: 0 10px 15px 0px #dcdcdc;
	display: flex;
	align-items: center;
	background-color: #a3a3a3;
}

/* ---- Menu Button styles ---- */
.THIS .mainHeader .menuToggle {
	width: 45px;
}

.THIS .mainHeader .menuToggle .menuBtn {
    text-align: center;
    vertical-align: middle;
    border: none;
    background-color: transparent;
    color: #fff;
    margin-top: -15px;
}

.THIS .mainHeader .menuToggle .menuBtn.menuActive {
	color: #000;
}

.THIS .mainHeader .menuToggle .menuBtn.slds-button--neutral:hover, .THIS .mainHeader .menuToggle .menuBtn.slds-button--neutral:focus, .THIS .mainHeader .menuToggle .menuBtn.slds-button--neutral:active {
	cursor: pointer;
	background-color: transparent;
}

.THIS .mainHeader .menuToggle .menuBtn.slds-button:focus {
	box-shadow: none;
}

.THIS .mainHeader .menuToggle .menuBtn .caret {
    position: relative;
    margin: 0 12px 0 4px;
}

.THIS .mainHeader .menuToggle .menuBtn .caret:before {
    content: '';
	position: absolute;
	top: 6px;
	left: 6px;
	border-top: 6px solid #fff;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
}

.THIS .mainHeader .menuToggle .menuBtn .caret:after {
    content: '';
	position: absolute;
	left: 7px;
	top: 6px;
	border-top: 5px solid #a3a3a3;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}

.THIS .mainHeader .menuToggle .menuBtn.menuActive .caret:before {
    border-top: none;
    border-bottom: 6px solid #000;
}

.THIS .mainHeader .menuToggle .menuBtn.menuActive .caret:after {
    top: 7px;
    border-top: none;
    border-bottom: 5px solid #a3a3a3;
}

/* ---- Menu & Logo layout styles ---- */
.THIS .mainHeader .menuToggle .separator {
	display: table-cell;
	height: 100%;
	text-align: center;
	vertical-align: middle;
}

.THIS .mainHeader .menuToggle .separator.menuBtn-wrapper {
	display: none;
}

/* ---- Community Name styles ---- */
.THIS .mainHeader .communityTitle .title-wrapper {
	line-height: 1.1em;
	color: #fff;
	font-size: 1.2em;
	font-weight: bold;
	margin-left: 45px;
}

.THIS .mainHeader .communityTitle .title-wrapper a {
	color: #fff;
}

.THIS .mainHeader .communityTitle .title-wrapper a:hover, .THIS .mainHeader .communityTitle .title-wrapper a:visited, .THIS .mainHeader .communityTitle .title-wrapper a:active {
	color: #fff;
	text-decoration: none;
}

/* ---- Search and Notification icons styles ---- */
.THIS .mainHeader .searchRegion .slds-button:focus {
    box-shadow: none;
}

.THIS .mainHeader .searchRegion {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

/* ---- Profile Styles ---- */
.THIS .mainHeader .profileMenuRegion {
	margin-right: 10px;
}

.THIS .mainHeader .profileMenuRegion .interactions .ui-widget {
	margin: 0;
}

.THIS .mainHeader .profileMenuRegion .selfServiceProfileMenuTrigger a {
	color: #fff;
	box-shadow: none;
}

.THIS .mainHeader .profileMenuRegion .selfServiceProfileMenuTrigger .profileIcon {
	width: 62px;
	height: 62px;
	margin-right: 5px;
}

.THIS .mainHeader .profileMenuRegion .selfServiceProfileMenuTrigger .profileName {
	max-width: 100%;
	float: left;
	margin-top: 20px;
    text-transform: capitalize;
    font-weight: normal;
    font-size: 1em;
    color: #fff;
    font-family: open_sansregular;
}

.THIS .mainHeader .searchRegion	.profileMenuRegion .selfServiceUserProfileMenu .popupTargetContainer {
	margin-right: 10px;
}

.THIS .mainHeader .profileMenuRegion .selfServiceUserProfileMenu .popupTargetContainer .uiMenuItem>a {
	color: #3e3e3e;
}

.THIS .mainHeader .profileMenuRegion .uiMenuList {
	box-shadow: none;
	border: 1px solid #aaa;
	border-radius: 10px;
}

.THIS .mainHeader .profileMenuRegion .uiMenuList .uiMenuItem>span {
	color: #aaa;
}

.THIS .mainHeader .profileMenuRegion .uiMenuList .uiMenuItem>a {
	font-size: .85em;
}

.THIS .mainHeader .profileMenuRegion .uiMenuList .uiMenuItem>a:hover {
	background-color: #fff;
	color: #333;
	font-weight: bold;
}

.THIS .mainHeader .profileMenuRegion .uiMenuList .uiMenuItem>a:focus {
	background-color: #fff;
}

.THIS .mainHeader .profileMenuRegion .uiMenuList .uiMenuItem>a::selection {
	background: rgb(255, 255, 255);
}

.THIS .profileMenuRegion .selfServiceProfileMenuTrigger .triggerDownArrow {
	position: relative;
	border: none;

}

.THIS .profileMenuRegion .selfServiceProfileMenuTrigger .triggerDownArrow:before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	border-top: 6px solid #fff;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
}

.THIS .profileMenuRegion .selfServiceProfileMenuTrigger .triggerDownArrow:after {
	content: '';
	position: absolute;
	left: 1px;
	top: 0px;
	border-top: 5px solid #a3a3a3;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}

.THIS .selfServiceProfileMenuTrigger a, .THIS .selfServiceProfileMenuTrigger a:hover {
	text-shadow: none;
}

/* ---- Navigation styles ---- */
.THIS .slds-global-header__button--icon {
	color: #fff;
}

.THIS .slds-global-header__button--icon:hover .slds-icon {
	fill: #fff !important;
}

/* ---- Main Content Area styles ---- */
.THIS .mainContentArea {
	background-color: #efefef;
	padding-top: 144px;
}

.THIS .mainContentArea .contentArea {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
}

.THIS .forceCommunityHeadline .headlineTitle {
	text-transform: none;
	font-size: 28px;
	font-family: inherit;
	font-weight: 400;
	padding: 0;
	text-align: left;
}

/* --- Trending Articles ---- */
.THIS .selfServiceTopicTrendingArticles42 h2 {
	text-transform: capitalize;
	font-family: inherit;
	padding-bottom: 16px;
	font-size: 20px;
	border-bottom: 1px solid #ccc;
	color: #333;
}

.THIS .selfServiceTopicTrendingArticles42 ul li {
	border-bottom: none;
}

.THIS .selfServiceTopicTrendingArticles42 ul li:first-of-type {
	margin-top: 5px;
}

.THIS .selfServiceTopicTrendingArticles42 ul li a {
	font-family: open_sanssemibold;
	font-size: 14px;
	/* color: #333; */
	color: #8CB7C7;
	display: block;
	border: none;
}

.THIS .selfServiceTopicTrendingArticles42 ul li a span {
	font-size: inherit;
}

.THIS .selfServiceTopicTrendingArticles42 ul li a:hover {
	/* color: rgb(211, 211, 211); */
	color: #3086AB;
}

.THIS .selfServiceTopicTrendingArticles42 ul li a:focus {
	box-shadow: none;
	color: #333;
}

/* ---- Footer styles ---- */
.THIS .themeFooter .footerHigher {
	max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}

.THIS .themeFooter .footerHigher>div {
	margin: 0 10px;
}

.THIS .themeFooter .footerHigher #footerQuestionText {
	font-size: 1.2em;
	color: #565656;
}

.THIS .themeFooter .footerHigher #footerQuestionBtn button {
	padding: 8px 30px 8px 30px;
	border-radius: 0.25em;
	font-weight: normal;
	text-transform: capitalize;
	font-size: 1.2em;
	position: relative;
	background-color: #ea7323;
}

.THIS .themeFooter .footerHigher #footerQuestionBtn button:hover {
	background-color: #c75b13;
}

.THIS .themeFooter .trademark {
	/* background-color: #666; */
	background-color: #a3a3a3;
	text-align: center;
	/* color: #969696; */
	color: #fff;
	padding: 10px 0;
}

/* ---- Global button styles ---- */
.THIS .group.forceChatterChatterFollow {
	justify-content: flex-end;
}

.THIS .group.forceChatterChatterFollow button {
	max-width: 150px;
	border: none;
	border-radius: 15px;
}

.THIS .group.forceChatterChatterFollow .slds-button--neutral.slds-is-selected:hover:not([disabled]) {
	border: none;
	border-radius: .25rem;
}

.THIS .group.forceChatterChatterFollow button.follow, .THIS .menu.forceChatterChatterNotification {
	border: none;
	border-radius: .25rem;
	margin-left: 3px;
}

.THIS .group.forceChatterChatterFollow button.following {
	margin-right: 0;
}

.THIS .group.forceChatterChatterFollow .slds-button--neutral.slds-is-selected:hover:not([disabled]) {
	background-color: rgba(5, 5, 5, 0.1);
	transition: background-color .5s;
}

.THIS .menu.forceChatterChatterNotification .triggerLink {
	padding: 1.11rem 0;
	transition: background-color .5s;
	border-radius: .25rem;
}

/* --- Messages Component Fix --- */
.THIS .forceChatterMessages {
	font-size: .875rem;
}

.THIS .forceChatterMessagesListViewHeader .inboxTitle {
	font-size: 1.25rem;
}

.THIS .forceChatterMessages .uiButton--default {
	font-size: .875rem;
}

.THIS .forceChatterMessageDetailViewHeader .inboxTitle, .THIS .forceChatterMessageDetailViewHeader .subject {
	font-size: 1.25rem;
}

.THIS .forceChatterMessageDetailViewHeader .participantsList .otherLink, .THIS .forceChatterMessageDetailViewHeader .forceChatterEntityLink {
	font-size: .875rem;
}

/* --- ForceChatterStyle Fix --- */
.THIS .forceChatterStyle {
	font-size: 1rem;
}

.THIS .forceChatterStyle .forceChatterFeedSorter {
	font-size: 1rem;
}

.THIS .forceChatterStyle input::placeholder {
	font-size: 1rem;
}

.THIS .forceChatterStyle .cuf-noMore-title {
	font-size: 1.5rem;
}

.THIS .forceChatterStyle .cuf-preamble {
	font-size: 1rem;
	line-height: 1.375;
}

.THIS .forceChatterStyle .slds-text-body_small, .THIS .forceChatterStyle .slds-text-body--small {
	font-size: .875rem;
}

.THIS .forceChatterFeedBodyText.cuf-feedBodyText {
	line-height: 1.375;
}

.THIS .forceTopicSimpleTopicAssignments.topic-topicContainer {
	font-size: 1rem;
}

.THIS .forceChatterSimpleFeedItemTopics--pill ul.topic-commaSeparatedList li {
	font-size: .875rem;
}

.THIS .slds-post__footer {
	font-size: 0.875rem;
}

.THIS .forceChatterFeedback .commentHeader {
	font-size: 1rem;
}

.THIS .forceChatterFeedback .uiButton--default {
	font-size: .875rem;
}

/* --- Discussions Fix --- */
.THIS .forceChatterCompactFeedItemBody .title {
	font-size: 1.25rem;
}

.THIS .forceCommunityFeedItemDetail .cuf-feedElement .cuf-questionTitle {
	font-family: open_sansregular;
	font-size: 1.25rem;
}

/* Other Styles */
/* Break single words that are too big in cell width */
.THIS .mainContentArea .contentArea .ui-widget {
	word-break: normal;
	word-wrap: normal;
}

@media (max-width: 768px) {
	.THIS .mainHeader .communityTitle {
		display: none;
	}

	.THIS .mainHeader {
		display: block;
		position: relative;
		padding-bottom: 0;
		box-shadow: none;
		min-height: 134px;
	}

	.THIS .mainHeader .menuToggle {
		display: block;
		width: 100%;
		min-height: 60px;
	}

	.THIS .mainHeader .menuToggle .separator {
		display: initial;
		border: none;
	}

	.THIS .mainHeader .menuToggle .separator.menuBtn-wrapper {
		position: absolute;
		display: flex;
    	height: 70px;
	    width: 70px;
		border: none;
	}

	.THIS .mainHeader .menuToggle .separator.menuBtn-wrapper .menuBtn {
		padding: 0;
		padding-left: 15px;
		width: initial;
		height: initial;
	}

	.THIS .mainHeader .searchRegion {
		display: block;
		width: 100%;
		max-width: 100%;
		background-color: #888;
		padding: 10px 0 22px;
		margin-top: 10px;
	}

	.THIS .mainHeader .searchRegion .notifications {
		display: none;
	}

	.THIS .mainHeader .searchRegion	.profileMenuRegion .selfServiceUserProfileMenu {
		position: initial;
		margin: 22px 0 -22px;
	}

	.THIS .mainHeader .searchRegion	.profileMenuRegion .selfServiceUserProfileMenu .selfServiceProfileMenuTrigger {
		top: 15px;
		right: 15px;
		position: absolute;
		padding-top: 0;
	}

	.THIS .mainHeader .searchRegion	.profileMenuRegion .selfServiceUserProfileMenu .popupTargetContainer {
		margin-right: 0px;
		left: 0;
		right: 0;
		border-radius: 0;
		border: none;
		transform: none;
		padding-top: 0;
		position: initial;
		float: none;
	}

	.THIS .mainHeader .searchRegion	.profileMenuRegion .selfServiceUserProfileMenu .popupTargetContainer.visible {
		display: inline;
	}

	.THIS .mainHeader .searchRegion	.profileMenuRegion .selfServiceUserProfileMenu .popupTargetContainer .menuList {
		background-color: #888;
	}

	.THIS .mainHeader .profileMenuRegion {
		margin-right: 0;
	}

	.THIS .mainHeader .profileMenuRegion .selfServiceUserProfileMenu .popupTargetContainer .uiMenuItem:first-of-type {
		border-top: 2px solid #989898;
	}

	.THIS .mainHeader .profileMenuRegion .selfServiceUserProfileMenu .popupTargetContainer .uiMenuItem {
		border-top: 1px solid #989898;
		border-bottom: 1px solid #989898;
	}

	.THIS .mainHeader .profileMenuRegion .selfServiceUserProfileMenu .popupTargetContainer .uiMenuItem:last-of-type {
		border-bottom: 2px solid #989898;
	}

	.THIS .mainHeader .profileMenuRegion .selfServiceUserProfileMenu .popupTargetContainer .uiMenuItem>a {
		color: #fff;
		padding: 8px 0 11px 18px;
		font-size: 1em;
		font-family: open_sansregular;
	}

	.THIS .mainHeader .profileMenuRegion .selfServiceUserProfileMenu .selfServiceProfileMenuTrigger .profileIcon {
		width: 50px;
		height: 50px;
	}

	.THIS .navigation.hideNav {
		display: none;
	}

	.THIS .mainContentArea .contentArea {
		padding-top: 134px
	}

	.THIS .group.forceChatterChatterFollow button.follow, .THIS .menu.forceChatterChatterNotification {
		margin-right: 0;
	}

	.THIS .themeFooter .footerHigher {
		display: block;
	}

	.THIS .themeFooter .footerHigher #footerQuestionText {
		padding: 10px 25px;
		text-align: center;
	}

	.THIS .themeFooter .footerHigher #footerQuestionBtn button {
		padding: 8px 0;
	}

	.THIS .themeFooter .footerHigher #footerQuestionBtn button span::after {
		content: none;
	}

	.THIS .themeFooter .trademark {
		padding: 10px 5px;
	}
}