.THIS {
	/* background-color: rgba(0, 0, 0, 0.35); */
	background-color: rgba(130,130,130, 0.35);
}

.THIS li {
	display: inline-block;
}

.THIS .navigationMenu {
	max-width: 95%;
	margin: 0 auto;
	padding-top: 8px;
}

.THIS .navigationMenu .uiMenuItem {
	margin-right: 2em;
}

.THIS .navigationMenu .uiMenuItem .menuItemLink {
    /* color: #d1d1d1; */
    color: #333;
}

.THIS .navigationMenu .uiMenuItem .menuItemLink.current {
	color: #fff;
}

.THIS .navigationMenu .uiMenuItem .menuItemLink:hover {
    color: #fff;
}

.THIS .navigationMenu .uiMenuItem .menuItemLink:focus {
	text-decoration: none;
}

.THIS .forceCommunityAppLauncher {
	padding-right: 30px;
}

.THIS .forceHeaderButton .tooltipTrigger {
	vertical-align: baseline;
}

@media (max-width: 768px) {
	.THIS {
		background-color: #888;
	}

	.THIS .navigationMenu {
		max-width: 100%;
		padding-top: 0;
	}

	.THIS .navigationMenu .uiMenuItem {
		display: block;
		margin: 0;
		border-top: 1px solid #989898;
		border-bottom: 1px solid #989898;
	}

	.THIS .navigationMenu .uiMenuItem:first-of-type {
		border-top: 2px solid #989898;
	}

	.THIS .navigationMenu .uiMenuItem:last-of-type {
		border-bottom: 2px solid #989898;
	}

	.THIS .navigationMenu .uiMenuItem .menuItemLink {
		color: #eee;
		padding: 8px 0 8px 18px;
	}
}