/**
 * Created by Robert on 6/5/2017.
 */
.THIS {
	font-family: open_sansregular;
	background-color: transparent !important;
	padding: 0 !important;
	border-radius: 15px !important;
}

.THIS .header_bar {
	display: flex;
	align-items: baseline;
    margin-top: -55px;
	margin-bottom: 20px;
}

.THIS .header_bar h1 {
	font-size: 1.7em;
}

/* FOS requested no : in header
.THIS .header_bar h1:after {
	content: ':';
}
 */

.THIS .header_bar h2 {
	margin-left: 6px;
	color: #aaa;
}

.THIS .left_column .card, .THIS .right_column .card {
	background-color: #fff;
	border-radius: 10px;
}

.THIS .slds-col .card {
	margin-top: 16px;
	padding: 18px 35px;
}

.THIS .slds-col .card:first-of-type {
	margin-top: 0;
}

.THIS .card .card_header {
	border-bottom: 1px solid #ccc;
	margin-bottom: 8px;
}

.THIS .card .card_header h3 {
	font-size: 20px;
	padding-bottom: 16px;
	font-weight: 700;
	color: #333;
}
.THIS :link { color: #3086ab; }

.THIS .action-link a {
	color: #ea7323;
}

.THIS .card .card_detail .action-link a:hover {
	color: #c75b13;
}

.THIS :visited { color: #551A8B; }

.THIS .left_column .card .card_detail .topiclistinfo {
	font-size: .85em;
	color: #aaa;
}

.THIS .left_column .card .card_detail hr {
	margin-top: 10px;
	margin-bottom: 20px;
	border-color: #ccc;
}

.THIS .left_column .card .card_detail .topiclist>div {
	width: 50%;
	float: left;
}

.THIS .right_column .card .card_header {
	margin-bottom: 20px;
}

.THIS .right_column .card .card_detail {
	font-size: 16px;
}

.THIS .right_column .card .card_detail ul li {
	margin-bottom: 20px;
}

.THIS .right_column .card .card_detail {
	overflow-wrap: break-word;
}

.THIS .card .card_detail a {
	transition: color .5s;
}

.THIS .card .card_detail a:hover {
	color: #3086AB;
	transition: color .5s;
	text-decoration: none;
}

.THIS .card_detail .sort_section {
	display: flex;
	align-items: center;
}

.THIS .card_detail .sort_section .sortMenu button {
	border: none;
}

.THIS .card_detail .sort_section .sortMenu button:hover {
	background-color: transparent;
}

.THIS .card_detail .sort_section .sortMenu button:focus {
	box-shadow: none;
	background-color: transparent;
}

.THIS .card_detail .articlelink {
	margin-right: 15px;
}

.THIS .card_detail .articlelink+.newIcon {
	font-style: italic;
	font-size: .75em;
	color: #aaa;
}

.THIS .card_detail .slds-card__footer .slds-button:not([disabled]) {
	background-color: #ea7323;
	transition: background-color .5s;
	border: none;
}

.THIS .card_detail .slds-card__footer .slds-button:not([disabled]):hover {
	background-color: #c75b13;
	transition: background-color .5s;
}

.THIS .card_detail a {
	word-wrap: break-word;
}

.THIS .forceChatterScroller .cuf-feedElementIterationItem article footer .forceChatterToggleLike  button {
	color: #3086ab;
}

.THIS .topicArticleList {
	list-style: initial;
	padding-left: 1.5rem;
}

.THIS .topiclist {
	display: flex;
	flex-wrap: wrap;
}

.THIS .articleTopicTag {
    display: inline-block;
}

@media (max-width: 768px) {
	.THIS .header_bar {
		display: block;
		margin-top: 0;
		margin-bottom: 25px;
	}

	.THIS.slds-grid {
		display: flex;
		flex-direction: column;	
	}

	.THIS.slds-grid .left_column, .THIS.slds-grid .right_column {
		width: 100%;
		max-width: 100%;
	}

	.THIS .slds-col .card {
		padding: 15px 20px;
	}

	.THIS .right_column {
		margin-top: 16px;
	}
}

@media (max-width: 425px) {
	.THIS .left_column .card .card_detail .topiclist>div {
		width: 100%;
		max-width: 100% !important;
	}

	.THIS .card_detail ul li {
		margin-bottom: 15px;
	}
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 
	.THIS .right_column .card .card_detail {
		word-wrap: normal;
	}
}