.THIS {
	background-color: #fff;
}

.THIS .mainFooter {
	max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.THIS .mainFooter .footerLower {
	align-items: stretch;
	border-top: 1px solid #ccc;
	padding: 2rem 0;
}

.THIS .mainFooter .footerLower > .slds-col {
	display: flex;
	justify-content: center;
	align-items: center;
}

.THIS .mainFooter .footerLower .footerMenu ul li {
	display: inline-block;
	border-right: 1px solid #ccc;
	line-height: 0.9rem;
}

.THIS .mainFooter .footerLower .footerMenu ul li:last-of-type {
	border-right: none;
}

.THIS .mainFooter .footerLower .footerMenu ul li a, .THIS .mainFooter .footerLower .footerMenu ul li a:hover, .THIS .mainFooter .footerLower .footerMenu ul li a:focus, .THIS .mainFooter .footerLower .footerMenu ul li a:visited {
	margin: 0 1.5rem;
	color: #969696;
	text-decoration: none;
}

.THIS .mainFooter .footerLower .footerMenu ul li a:hover {
	text-decoration: underline;
}

.THIS .mainFooter .footerLower .social img {
	width: 35px;
	height: 35px;
	margin: 0 3px;
}

.THIS .trademark {
	background-color: #666;
	text-align: center;
	color: #969696;
	padding: 10px 0;
}

@media (max-width: 768px) {
	.THIS .mainFooter .footerLower {
		flex-direction: column;
		padding: 1rem 0;
		margin: 0 10px;
		/* border-top: 2px solid #e4e4e4; */
		border-top: none;
	}

	.THIS .mainFooter .footerLower>div {
		width: 100%;
	}

	.THIS .mainFooter .footerLower .logo {
		justify-content: flex-start;
	}

	.THIS .mainFooter .footerLower .logo .title-wrapper {
		margin: 10px 25px 25px;
	}

	.THIS .mainFooter .footerLower .footerMenu {
		border: none;
		justify-content: flex-start;
		width: 100%;
		max-width: 100%;
	}

	.THIS .mainFooter .footerLower .footerMenu ul {
		width: 100%;
	}

	.THIS .mainFooter .footerLower .footerMenu ul li:first-of-type {
		border-top: 2px solid #e4e4e4;
	}

	.THIS .mainFooter .footerLower .footerMenu ul li {
		display: flex;
		border: none;
		border-top: 1px solid #e4e4e4;
		border-bottom: 1px solid #e4e4e4;
	}

	.THIS .mainFooter .footerLower .footerMenu ul li:last-of-type {
		border-bottom: 2px solid #e4e4e4;
	}

	.THIS .mainFooter .footerLower .footerMenu ul li a {
		margin: 12px 25px;
	}

	.THIS .mainFooter .footerLower .social {
		padding-top: 15px;
	}
}