.THIS {
	
}

.THIS .contentPanelTop,
.THIS .contentPanelMiddle,
.THIS .contentPanelBottom {
	margin-bottom: 16px;
}

.THIS .contentPanelTop .content-wrapper,
.THIS .contentPanelMiddle .content-wrapper,
.THIS .contentPanelBottom .content-wrapper,
.THIS .feed .content-wrapper {
	background-color: #fff;
	border-radius: 10px;
	height: 100%;
	padding-top: 1px;
}

.THIS .contentPanelBottom .content-wrapper {
	background-color: transparent;
}

.THIS .contentPanelBottom .content-wrapper div:not([data-region-name="feed"]) .ui-widget {
	background-color: #fff;
}

/*
.THIS .contentPanelBottom .main .content-wrapper .ui-widget:first-of-type {
	border-radius: 10px;
	margin-bottom: 16px;
}

.THIS .contentPanelBottom .main .content-wrapper .ui-widget {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.THIS .contentPanelBottom .main .content-wrapper .ui-widget:last-of-type {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
*/

.THIS .contentPanelBottom .sidebar .content-wrapper .ui-widget,
.THIS .contentPanelBottom .main .content-wrapper>div, 
.THIS .contentPanelBottom .main .content-wrapper .ui-widget {
	margin-top: 16px;
}

.THIS .contentPanelBottom .sidebar .content-wrapper .ui-widget,
.THIS .contentPanelBottom .main .content-wrapper .ui-widget {
	border-radius: 10px;
}

.THIS .contentPanelBottom .sidebar .content-wrapper .ui-widget:first-of-type,
.THIS .contentPanelBottom .main .content-wrapper>div:first-of-type, 
.THIS .contentPanelBottom .main .content-wrapper .ui-widget:first-of-type {
	margin: 0;
}

.THIS .contentPanelBottom .main .content-wrapper div[data-region-name="feed"] {
	border-radius: 10px;
}

.THIS .contentPanelBottom .main .content-wrapper div[data-region-name="feed"] .ui-widget {
	margin-top: 0;
	border-radius: 0;
}

.THIS .contentPanelBottom .main .content-wrapper div[data-region-name="feed"] .ui-widget:first-of-type {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #fff;
}

.THIS .feed .content-wrapper {
	height: auto;
}
.THIS .content-header-wrapper>div {
    margin-bottom: 16px;
}

.THIS .slds-grid.contentPanelTop .content-wrapper>div {
	height: 100%;
}

.THIS .slds-grid.contentPanelTop .content-wrapper .ui-widget {
	height: 100%;
}

.THIS .slds-grid.contentPanelTop>.slds-col {
	align-items: stretch;
	padding: 0;
}

.THIS .slds-grid.contentPanelTop>.slds-col,
.THIS .slds-grid.contentPanelMiddle>.slds-col,
.THIS .slds-grid.contentPanelBottom>.slds-col {
	padding-right: 16px;
}

.THIS .slds-grid.contentPanelTop>.slds-col:last-of-type,
.THIS .slds-grid.contentPanelMiddle>.slds-col:last-of-type,
 .THIS .slds-grid.contentPanelBottom>.slds-col:last-of-type {
	padding-right: 0;
}

.THIS .slds-grid.contentPanelTop>.slds-col .ui-widget,
.THIS .slds-grid.contentPanelMiddle>.slds-col .ui-widget,
.THIS .slds-grid.contentPanelBottom>.slds-col .ui-widget,
.THIS .slds-grid.feed>.slds-col .ui-widget {
	padding: 18px 35px;
}

.THIS .slds-grid.contentPanelTop>.slds-col .ui-widget .cCarousel {
	margin: -19px -35px;
}

/* ----  General Component Overrides ---- */
.THIS .ui-widget .titleRow {
	float: none;
	max-width: 100%;
	padding: 0;
	border-bottom: 1px solid #ccc;
	display: flex;
	justify-content: space-between;
}

.THIS .ui-widget .titleRow .title {
	text-transform: capitalize;
	font-family: inherit;
	padding-bottom: 16px;
	font-size: 20px;
	display: inline-flex;
    line-height: 1.4;
    word-break: normal;
}

.THIS .titleRow .title {
	font-weight: 700;
	color: #333;
}

/* ---- COMPONENT SPECIFIC OVERRIDES - These styles override the native component styles while keeping them out of the box ---- */
/* --- Community Leaders ---- */
.THIS .comm-leaderboard h2 {
	text-transform: capitalize;
	font-family: inherit;
	padding-bottom: 16px;
	font-size: 20px;
	border-bottom: 1px solid #ccc;
	color: #333;
	width: 100%;
}

.THIS .comm-leaderboard lightning-helptext {
	display: none;
}

.THIS .comm-leaderboard li:first-of-type {
	padding-top: 20px;
}

.THIS .comm-leaderboard li .leaderboardRowWrapper>.slds-align-middle .slds-media .slds-media__body .levelAndPointsCol .comm-leaderboard__user-name {
	color: #8CB7C7;
	font-family: open_sansbold, arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: .89em;
	transition: color .5s;
}

.THIS .comm-leaderboard li .leaderboardRowWrapper>.slds-align-middle .slds-media .slds-media__body .levelAndPointsCol .comm-leaderboard__user-name:hover {
	color: #3086AB;
	transition: color .5s;
	text-decoration: none;
}

.THIS .comm-leaderboard li .leaderboardRowWrapper>.slds-align-middle .slds-media .slds-media__body .levelAndPointsCol .comm-leaderboard__level-name {
	font-family: open_sanssemibold, arial, sans-serif;
	color: #000;
    font-size: 14px;
}

.THIS .comm-leaderboard li .leaderboardRowWrapper {
	width: 100%;
	position: relative;
	border-bottom: none;
	padding: 5px 0;
}

.THIS .comm-leaderboard li .leaderboardRowWrapper>.slds-align-middle,
.THIS .comm-leaderboard li .leaderboardRowWrapper>.slds-align-middle .slds-media,
.THIS .comm-leaderboard li .leaderboardRowWrapper>.slds-align-middle .slds-media .slds-media__body,
.THIS .comm-leaderboard li .leaderboardRowWrapper>.slds-align-middle .slds-media .slds-media__body .levelAndPointsCol,
.THIS .comm-leaderboard li .leaderboardRowWrapper>.slds-align-middle .slds-media .slds-media__body .levelAndPointsCol a {
	width: 100%;
}

.THIS .comm-leaderboard li .leaderboardRowWrapper>.slds-align-middle .slds-media .slds-media__figure {
	margin-right: 7px;
}

.THIS .comm-leaderboard li .leaderboardRowWrapper>.slds-align-middle .slds-media .slds-media__figure img {
	width: 44px;
	height: 44px;
}

.THIS .comm-leaderboard li .leaderboardRowWrapper>.slds-align-middle .slds-media .slds-media__body .levelAndPointsCol {
	padding-left: 0;
	font-size: 1em;
}

.THIS .comm-leaderboard li .leaderboardRowWrapper>.slds-align-middle .slds-media .slds-media__body .levelAndPointsCol img {
	width: 22px;
	height: 22px;
}

.THIS .comm-leaderboard li .leaderboardRowWrapper .comm-leaderboard__points-column::before {
	content: none;
}

.THIS .comm-leaderboard li .leaderboardRowWrapper .comm-leaderboard__points-column {
	display: flex;
	position: absolute;
	bottom: 10px;
	left: 165px;
	padding-left: 15px;
	border-left: 1px solid #000;
	width: auto;
}

.THIS .comm-leaderboard li .leaderboardRowWrapper .comm-leaderboard__points-column .comm-leaderboard__points {
	padding-right: 5px;
	padding-top: 0px;
}

.THIS .comm-leaderboard li .leaderboardRowWrapper .comm-leaderboard__points-column .comm-leaderboard__points,
.THIS .comm-leaderboard li .leaderboardRowWrapper .comm-leaderboard__points-column .comm-leaderboard__points-word {
	font-family: open_sanssemibold, arial, sans-serif;
	color: #000;
	font-size: 12px;
}







.THIS forcecommunity-leaderboard-list h2 {
	text-transform: capitalize;
	font-family: inherit;
	padding-bottom: 16px;
	font-size: 20px;
	border-bottom: 1px solid #ccc;
	color: #333;
	width: 100%;
}

.THIS forcecommunity-leaderboard-list lightning-helptext {
	display: none;
}

.THIS forcecommunity-leaderboard-list li:first-of-type {
	padding-top: 20px;
}

.THIS forcecommunity-leaderboard-list li .leaderboardRowWrapper>.slds-align-middle .slds-media .slds-media__body .levelAndPointsCol .comm-leaderboard__user-name {
	color: #8CB7C7;
	font-family: open_sansbold, arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: .89em;
	transition: color .5s;
}

.THIS forcecommunity-leaderboard-list li .leaderboardRowWrapper>.slds-align-middle .slds-media .slds-media__body .levelAndPointsCol .comm-leaderboard__user-name:hover {
	color: #3086AB;
	transition: color .5s;
	text-decoration: none;
}

.THIS forcecommunity-leaderboard-list li .leaderboardRowWrapper>.slds-align-middle .slds-media .slds-media__body .levelAndPointsCol .comm-leaderboard__level-name {
	font-family: open_sanssemibold, arial, sans-serif;
	color: #000;
}

.THIS forcecommunity-leaderboard-list li .leaderboardRowWrapper {
	width: 100%;
	position: relative;
	border-bottom: none;
	padding: 5px 0;
}

.THIS forcecommunity-leaderboard-list li .leaderboardRowWrapper>.slds-align-middle,
.THIS forcecommunity-leaderboard-list li .leaderboardRowWrapper>.slds-align-middle .slds-media,
.THIS forcecommunity-leaderboard-list li .leaderboardRowWrapper>.slds-align-middle .slds-media .slds-media__body,
.THIS forcecommunity-leaderboard-list li .leaderboardRowWrapper>.slds-align-middle .slds-media .slds-media__body .levelAndPointsCol,
.THIS forcecommunity-leaderboard-list li .leaderboardRowWrapper>.slds-align-middle .slds-media .slds-media__body .levelAndPointsCol a {
	width: 100%;
}

.THIS forcecommunity-leaderboard-list li .leaderboardRowWrapper>.slds-align-middle .slds-media .slds-media__figure {
	margin-right: 7px;
}

.THIS forcecommunity-leaderboard-list li .leaderboardRowWrapper>.slds-align-middle .slds-media .slds-media__figure img {
	width: 44px;
	height: 44px;
}

.THIS forcecommunity-leaderboard-list li .leaderboardRowWrapper>.slds-align-middle .slds-media .slds-media__body .levelAndPointsCol {
	padding-left: 0;
	font-size: 1em;
}

.THIS forcecommunity-leaderboard-list li .leaderboardRowWrapper>.slds-align-middle .slds-media .slds-media__body .levelAndPointsCol img {
	width: 22px;
	height: 22px;
}

.THIS forcecommunity-leaderboard-list li .leaderboardRowWrapper .comm-leaderboard__points-column::before {
	content: none;
}

.THIS forcecommunity-leaderboard-list li .leaderboardRowWrapper .comm-leaderboard__points-column {
	display: flex;
	position: absolute;
	bottom: 8px;
	left: 165px;
	padding-left: 15px;
	border-left: 1px solid #000;
	width: auto;
}

.THIS forcecommunity-leaderboard-list li .leaderboardRowWrapper .comm-leaderboard__points-column .comm-leaderboard__points {
	padding-right: 5px;
	padding-top: 1px;
}

.THIS forcecommunity-leaderboard-list li .leaderboardRowWrapper .comm-leaderboard__points-column .comm-leaderboard__points,
.THIS forcecommunity-leaderboard-list li .leaderboardRowWrapper .comm-leaderboard__points-column .comm-leaderboard__points-word {
	font-family: open_sanssemibold, arial, sans-serif;
	color: #000;
	font-size: .89em;
}

/* --- Rich Text Editor defaults ---- */
.THIS .forceCommunityRichText h2 {
	border-bottom: 1px solid #ccc;
	padding-bottom: 16px;
}

.THIS .forceCommunityRichText h3 a {
	color: #ea7323;
}

.THIS .forceCommunityRichText h3 a:hover {
	color: #c75b13;
	text-decoration: none;
}

.THIS .forceCommunityRichText ul {
	list-style-type: none;
	padding-left: 0;
}

.THIS .forceCommunityRichText ul li a, .THIS .forceCommunityRichText ul li a:focus, .THIS .forceCommunityRichText ul li a:active, .THIS .forceCommunityRichText ul li a:visited {
	/* color: #000; */
	color: #8CB7C7;
	text-decoration: none;
	font-family: open_sanssemibold, arial, sans-serif;
}

.THIS .forceCommunityRichText ul li {
	padding: 20px 0 0;
}

.THIS .forceCommunityRichText ul>li:before {
	content: none;
}

.THIS .forceCommunityRichText ul li a:hover {
	/* color: rgb(211, 211, 211); */
	color: #3086AB;
}

/* --- Chatter Feed ---- */
.THIS .slds-grid.contentPanelBottom>.slds-col div[data-region-name="feed"] .ui-widget .forceCommunityForceCommunityFeed {
	margin: -18px -35px;
}

.THIS .forceChatterFeed .forceChatterStyle .forceChatterFeedInner .forceChatterScroller .forceChatterFeedItem footer .slds-text-title {
	display: none;
}

.THIS .forceChatterFeed .forceChatterStyle .forceChatterFeedInner .forceChatterScroller .cuf-showMoreContainer .slds-button,
.THIS .forceChatterFeed .forceChatterScroller .forceChatterFeedItem .forceChatterFeedback .commentActorAndInput .forceChatterFeedCommentInput .uiButton--brand {
	background-color: #ea7323;
	transition: background-color .5s;
	border: none;
}

.THIS .forceChatterFeed .forceChatterStyle .forceChatterFeedInner .forceChatterScroller .cuf-showMoreContainer .slds-button:hover,
.THIS .forceChatterFeed .forceChatterScroller .forceChatterFeedItem .forceChatterFeedback .commentActorAndInput .forceChatterFeedCommentInput .uiButton--brand:hover {
	background-color: #c75b13;
	transition: background-color .5s;
	cursor: pointer;
}

.THIS .forceChatterFeed .forceChatterFeedInner .forceChatterFeedItem .slds-post__footer-actions-list .slds-list__item .slds-post__footer-action:hover {
	color: inherit;
	transition: color .5s;
}

.THIS .forceChatterFeed .forceChatterStyle .forceChatterFeedInner .forceChatterScroller .resizeCaptureFrameWrapper .skip-feed-wrapper .cuf-feed .cuf-feedElementIterationItem:last-of-type {
	padding-bottom: 0;
}

.THIS .forceChatterFeed .forceChatterStyle .forceChatterFeedInner .forceChatterScroller .cuf-showMoreContainer {
	background-color: #efefef;
	padding: 15px 0;
}

.THIS .forceChatterFeed .forceChatterStyle .forceChatterFeedInner .forceChatterScroller .resizeCaptureFrameWrapper {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #fff;
}

.THIS .forceChatterFeed .forceChatterStyle .forceChatterFeedInner .forceChatterScroller .resizeCaptureFrameWrapper .cuf-feed .cuf-feedElementIterationItem:last-of-type .forceChatterFeedItem {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.THIS .forceChatterFeed .forceChatterStyle .forceChatterFeedInner .forceChatterScroller .resizeCaptureFrameWrapper .cuf-feed .cuf-feedElementIterationItem:last-of-type .forceChatterFeedItem .forceChatterFeedback {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.THIS .uiTabset--default .tabs__item > a {
	color: rgb(211, 211, 211);
}

.THIS .uiTabset--default .tabs__item > a:hover {
	color: #333;
	border: none;
	box-shadow: none;
}
 
.THIS .uiTabset--default .tabs__item > a:focus {
	border: none;
	box-shadow: none;
}

.THIS .uiTabset--default .tabs__item.active > a {
	color: #333;
	border-color: #333;
}

.THIS .uiTabset--default .tabs__item.active > a:hover {
	border-color: #333;
	border-bottom: 2px solid;
}

.THIS .uiTabset--default .tabs__item.active > a:focus {
	border-color: #333;
	border-bottom: 2px solid;
	box-shadow: rgb(211, 211, 211) 0px -1px 0px inset;
}

@media (max-width: 768px) {
	.THIS .feed>.left, .THIS .feed>.right {
		display: none;
	}

	.THIS .feed .center {
		width: 100%;
		max-width: 100%;
	}

	.THIS .feed .slds-size--2-of-4 .ui-widget>div {
		margin-left: 10px;
		margin-right: 10px;
	}

	.THIS .slds-grid.contentPanelTop>.slds-col .ui-widget, .THIS .slds-grid.contentPanelBottom>.slds-col .ui-widget, .THIS .slds-grid.feed>.slds-col .ui-widget {
		margin: 15px 20px;
	}

	.THIS .contentPanelTop, .THIS .contentPanelBottom {
		margin-bottom: 0;
	}

	.THIS .slds-grid.contentPanelTop, .THIS .slds-grid.contentPanelBottom {
		flex-direction: column;
	}

	.THIS .slds-grid.contentPanelTop>.slds-col, .THIS .slds-grid.contentPanelBottom>.slds-col, .THIS .slds-grid.feed>.slds-col {
		width: 100%;
		max-width: 100%;
		padding: 0;
		flex: 0 0 100%;
	}

	.THIS .contentPanelTop .content-wrapper, .THIS .contentPanelBottom .content-wrapper, .THIS .feed .content-wrapper {
		margin: 10px;
	}

	.THIS .forceChatterStyle .forceChatterFeedInner .forceChatterScroller .forceSearchFilterHeader .containerWrapper .right.cell {
		display: none;
	}
}