.THIS {
    border-radius: 10px;
    padding: 12px 16px;
} 

.THIS .small_section_header {
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
    color: #97231F;
    text-align: left;
    margin-bottom: 15px;
}

.THIS .white_card .small_section_header {
    font-family: inherit;
    font-weight: 400;
    font-size: 1.25rem;
    color: inherit;
}

.THIS.hide_component {
    display:none;
}