.THIS {
}

.THIS .ui-widget {
    margin-top: 16px;
    margin-bottom: 0;
}

.THIS .ui-widget:first-of-type {
    margin-top: 0;
}

.THIS .ui-widget:first-of-type>div:first-of-type {
    margin-top: 83px;
}

.THIS .forceCommunityTabset .ui-widget:first-of-type>div {
    margin-top: 0;
}

.THIS .slds-grid .slds-col {
    padding-right: 16px;
}

.THIS .slds-grid.cPS_Custom_KnowledgeBase_Viewer .slds-col.right_column {
    padding-right: 0px;
}

.THIS .slds-grid .slds-col:last-of-type {
    margin-right: 0;
}

.THIS .ui-widget>div {
    background-color: #fff;
    border-radius: 10px;
    padding: 18px 35px;
}

.THIS .forceCommunityTabset .ui-widget>div {
    padding: 0;
}

.THIS .ui-widget>.forceCommunityGroupObjectHome {
    background-color: transparent;
    border-radius: 0;
    padding: 0
}

.THIS .ui-widget .forceCommunityRelatedList {
    padding: 0;
}

.THIS .ui-widget .forceListViewManager {
    background-color: #fff;
    border-radius: 10px;
    padding: 18px 35px;
}

.THIS .ui-widget .forceCommunityTabset .forceListViewManager {
    padding: 0;
}

.THIS .forceCommunityRelatedList .forceListViewManager {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    margin: 18px 35px;
}

.THIS .slds-grid .slds-col .ui-widget[data-component-label='Headline'] {
    background-color: transparent;
}

.THIS div[data-region-name='Featured'] .ui-widget .forceCommunityHeadline .headlineTitle .forceIcon {
    display: none;
}

/* ---- Out-of-box headers ---- */
.THIS .forceCommunityRecordHeadline .forceHighlightsStencilDesktop {
    border-bottom: none;
}

.THIS .forceCommunityRecordHeadline .forceHighlightsStencilDesktop .primaryFieldRow .profilePicWrapper {
    display: none;
}

.THIS .forceCommunityRecordHeadline .forceHighlightsStencilDesktop .primaryFieldRow .slds-media__body .slds-text-heading--label {
    font-size: 1.7rem;
    text-transform: capitalize;
}

.THIS .forceCommunityRecordHeadline .forceHighlightsStencilDesktop .slds-page-header__detail-row {
    margin: 0;
    border-radius: 10px;
    margin-top: 10px;
}

.THIS .forceCommunityRecordHeadline .actionsContainer .slds-button--neutral, .THIS .forceCommunityRecordHeadline .actionsContainer .slds-button--neutral a {
    color: #3e3e3e;
}

.THIS div[data-region-name='Content']>.ui-widget>.forceCommunityHeadline:first-of-type {
    margin-bottom: 45px;
}

/* ---- Tables styles overrides ---- */
.THIS .forceListViewManager .forceListViewManagerHeader .slds-grid .slds-has-flexi-truncate {
    position: absolute;
    top: -80px;
    left: 0;
}

.THIS .forceCommunityTabset .forceListViewManager .forceListViewManagerHeader .slds-grid .slds-has-flexi-truncate {
    position: inherit;
}

.THIS .forceListViewManager .forceListViewManagerHeader .slds-grid .test-lvmForceActionsContainer {
    position: absolute;
    top: -45px;
    right: 0;
}

.THIS .forceCommunityTabset .forceListViewManager .forceListViewManagerHeader .slds-grid .test-lvmForceActionsContainer {
    top: -10px;
}

.THIS .forceListViewManager .forceListViewManagerHeader .slds-grid .test-lvmForceActionsContainer .slds-button a {
    color: #333;
}

.THIS .forceListViewManager .forceListViewManagerHeader .slds-grid .test-lvmForceActionsContainer .slds-button {
    transition: box-shadow .5s;
}

.THIS .forceListViewManager .forceListViewManagerHeader .slds-grid .test-lvmForceActionsContainer .slds-button:hover {
    background-color: #fff;
    box-shadow: 0 0 3px #959595;
    transition: box-shadow .5s;
}

.THIS .forceListViewManager .forceListViewManagerHeader .slds-grid .test-lvmForceActionsContainer .slds-button a[title="Discover Companies"] {
    display: none;
}

.THIS .forceCommunityTabset .forceListViewManager .forceListViewManagerHeader .slds-grid .test-lvmForceActionsContainer {
    position: inherit;
}

.THIS .forceListViewManager .forceListViewManagerHeader .slds-media__figure {
    display: none;
}

.THIS .forceListViewManager .forceListViewManagerHeader .slds-media__body {
    display: flex;
    align-items: center;
}

.THIS .forceListViewManager .forceListViewManagerHeader .slds-media__body nav {
    padding-bottom: 5px;
}

.THIS .forceListViewManager .forceListViewManagerHeader .slds-media__body nav .slds-breadcrumb .slds-breadcrumb__item {
    font-size: 1.7em;
    text-transform: capitalize;
    border-right: 2px solid #333;
    padding-right: 25px;
    letter-spacing: 0em;
    margin-right: 25px;
}

.THIS .forceCommunityTabset .forceListViewManager .forceListViewManagerHeader .slds-media__body nav .slds-breadcrumb .slds-breadcrumb__item {
    font-size: 1em;
    padding-right: 10px;
    margin-right: 10px;
}

.THIS .forceListViewManager .forceListViewManagerHeader .slds-media__body nav .slds-breadcrumb .slds-breadcrumb__item::before {
    content: "";
}

.THIS .forceListViewManager .forceListViewManagerHeader .slds-media__body .slds-page-header__title {
    font-size: 1.7rem;
}

.THIS .forceCommunityTabset .forceListViewManager .forceListViewManagerHeader .slds-media__body .slds-page-header__title {
    font-size: 1em;
}

.THIS .forceListViewManager .forceListViewManagerHeader .forceListViewManagerDisplaySwitcher {
    display: none;
}

.THIS .forceListViewManager .forceListViewManagerHeader .forceListViewManagerButtonBar .slds-button {
    display: flex;
    width: 70px;
    border: none;
    transition: color .5s;
    margin-right: 15px;
    align-items: center;
}

.THIS .forceListViewManager .forceListViewManagerHeader .forceListViewManagerButtonBar .slds-button:hover {
    background-color: transparent;
    color: rgb(112, 112, 112);
    transition: color .5s;
}

.THIS .forceListViewManager .forceListViewManagerHeader .forceListViewManagerButtonBar .slds-button:focus {
    outline: none;
    box-shadow: none;
    color: rgb(112, 112, 112);
    background-color: transparent;
}

.THIS .forceListViewManager .forceListViewManagerHeader .forceListViewManagerButtonBar .slds-button[disabled]:hover {
    color: rgb(216, 221, 230);
}

.THIS .forceListViewManager .forceListViewManagerHeader .forceListViewManagerButtonBar .slds-button .slds-assistive-text, .THIS .forceListViewManager .forceListViewManagerHeader .forceListViewManagerButtonBar .slds-button .assistiveText, .THIS .forceListViewManager .forceListViewManagerHeader .forceListViewSettingsMenu .slds-button .slds-assistive-text {
    position: inherit !important;
    width: 100% !important;
    height: 100% !important;
    order: 1;
    display: inline-flex !important;
    align-items: center;
}

.THIS .forceListViewManager .forceListViewManagerHeader .forceListViewManagerButtonBar .forceRefreshButton span:first-of-type, .THIS .forceListViewManager .forceListViewManagerHeader .forceListViewManagerButtonBar .forceInlineEditButton span:first-of-type {
    order: 2;
    display: inline-flex !important;
    align-items: center;
}

.THIS .forceListViewManager .forceListViewManagerHeader .forceListViewManagerButtonBar .slds-button .slds-button__icon {
    order: 2;
    display: inline-flex !important;
    align-items: center;
}

.THIS .forceListViewManager .forceListViewManagerHeader .forceListViewSettingsMenu {
    margin-right: 10px;
}

.THIS .forceListViewManager .forceListViewManagerHeader .forceListViewSettingsMenu .slds-button {
    border: none;
    background-color: transparent;
    box-shadow: none;
    display: flex;
    align-items: center;
    transition: color .5s;
}

.THIS .forceListViewManager .forceListViewManagerHeader .forceListViewSettingsMenu .slds-button:hover {
    color: rgb(112, 112, 112);
    transition: color .5s;
}

.THIS .forceListViewManager .forceListViewManagerHeader .forceListViewSettingsMenu .slds-button>span {
    order: 2;
}

.THIS .forceListViewManager .forceListViewManagerHeader .forceListViewSettingsMenu .slds-button>span:last-of-type {
    order: 1;
}

.THIS .forceListViewManager .forceListViewManagerHeader .forceListViewSettingsMenu .slds-button>span:first-of-type {
    margin-left: 10px
}

.THIS .forceListViewManager .forceListViewManagerHeader .forceListViewPicker {
    color: #3e3e3e;
}

.THIS .forceListViewManagerPrimaryDisplayManager, .THIS .forceListViewManagerPrimaryDisplayManager .displayArea, .THIS .forceListViewManagerGrid .listViewContent {
    /* position: initial; */
}

.THIS .forceListViewManager .listDisplays .forceRecordLayout thead tr th {
    color: rgb(170, 170, 170);
    text-transform: capitalize;
    font-family: open_sanssemibold;
    letter-spacing: 0;
    font-size: .9em;
}

.THIS .forceListViewManager .listDisplays .forceRecordLayout thead tr th a, .THIS .forceListViewManager .listDisplays .forceRecordLayout thead tr th a span {
    color: inherit;
    text-transform: inherit;
    font-family: inherit;
    letter-spacing: inherit;
    font-size: inherit;
}

.THIS .forceListViewManager .listDisplays .forceRecordLayout thead tr th.sortable a:hover {
    color: #333;
}

.THIS .forceCommunityRecordListDesktop .forceListViewManagerHeader {
    border-top: none;
    border-left: none;
    border-right: none;
}

.THIS .forceCommunityRecordListDesktop.forceListViewManager {
    max-width: 100%;
}

.THIS .forceCommunityRecordListDesktop .forceListViewManagerGrid .slds-table--header-fixed tbody th {
    border-bottom: none;
    font-family: open_sanssemibold;
}


.THIS .forceCommunityRecordListDesktop .forceListViewManagerGrid .slds-table--header-fixed tbody th .container .outputLookupLink, .THIS .forceListViewManager .listDisplays .forceRecordLayout tbody tr td .outputLookupLink {
    color: #8CB7C7;
    transition: color .5s;
}

.THIS .forceCommunityRecordListDesktop .forceListViewManagerGrid .slds-table--header-fixed tbody th .container .outputLookupLink:hover, .THIS .forceListViewManager .listDisplays .forceRecordLayout tbody tr td .outputLookupLink:hover {
    color: #3086AB;
    transition: color .5s;
}

.THIS .forceCommunityRecordListDesktop .forceListViewManagerGrid .forceRecordLayout tbody .cellContainer a {
    color: #8CB7C7;
    transition: color .5s;
}

.THIS .forceCommunityRecordListDesktop .forceListViewManagerGrid .forceRecordLayout tbody .cellContainer a:hover {
    color: #3086AB;
    transition: color .5s;
}

.THIS .forceCommunityRecordListDesktop .forceListViewManagerGrid .forceRecordLayout tbody .cellContainer .oneActionsDropDown a {
    color: #aaa;
}

.THIS .forceListViewManager .listDisplays .forceRecordLayout tbody tr td {
    font-size: .8em;
    font-family: open_sanssemibold;
}

.THIS .forceListViewManager .listDisplays .forceRecordLayout .slds-has-focus {
    background-color: rgb(253, 253, 253);
}

.THIS .forceChatterFeed .forceChatterStyle .forceChatterFeedInner .forceChatterScroller .forceChatterFeedItem footer .slds-text-title,
.THIS .forceCommunityFeedItemDetail .forceChatterStyle .forceChatterScroller .forceChatterFeedItem footer .slds-text-title {
    display: none;
}

.THIS .forceChatterFeed .forceChatterStyle .forceChatterFeedInner .forceChatterScroller .cuf-showMoreContainer .slds-button,
.THIS .forceActionsContainer .dummyControlsContainer .dummyButtonSubmitAction,
.THIS .forceCommunityUserSettings .savecancelbuttoncontainer .savebutton,
.THIS .forceCommunityGroupRecordHomeTabs .forceCommunityRecordHeadline .forceRecordLayout .info .forceActionsContainer .uiButton,
.THIS .forceCommunityUserSettings .savecancelbuttoncontainer .saveButton,
.THIS .forceCommunityUserSettings input[type=checkbox]:checked {
    background-color: #ea7323;
    transition: background-color .5s;
    border: none;
}

.THIS .forceChatterFeed .forceChatterStyle .forceChatterFeedInner .forceChatterScroller .cuf-showMoreContainer .slds-button:hover,
.THIS .forceActionsContainer .dummyControlsContainer .dummyButtonSubmitAction:hover,
.THIS .forceCommunityUserSettings .savecancelbuttoncontainer .savebutton:hover,
.THIS .forceCommunityGroupRecordHomeTabs .forceCommunityRecordHeadline .forceRecordLayout .info .forceActionsContainer .uiButton:hover,
.THIS .forceCommunityUserSettings .savecancelbuttoncontainer .saveButton:hover {
    background-color: #c75b13;
    transition: background-color .5s;
}

.THIS .forceCommunityGroupRecordHomeTabs .forceCommunityRecordHeadline .slds-button--neutral:not(.uiButton),
.THIS .forceCommunityGroupRecordHomeTabs .forceCommunityRecordHeadline .slds-button--neutral a,
.THIS .forceCommunityGroupRecordHomeTabs .forceCommunityRecordHeadline .oneActionsDropDown a {
    color: #3e3e3e;
}

.THIS .forceCommunityGroupRecordHomeTabs .slds-form-element__label {
    font-size: 1rem;
    font-family: open_sanssemibold;
}

.THIS .forceCommunityGroupRecordHomeTabs .forceChatterPublisherVisibility .cuf-visibilityMenu, .THIS .forceCommunityGroupRecordHomeTabs .forceChatterPublisherVisibility .cuf-defaultVisibilityMessage {
    color: #3e3e3e;
}

.THIS .uiTabset--default .tabs__item > a {
    color: rgb(211, 211, 211);
}

.THIS .uiTabset--default .tabs__item > a:hover {
    color: #333;
    border: none;
    box-shadow: none;
}

.THIS .uiTabset--default .tabs__item > a:focus {
    border: none;
    box-shadow: none;
}

.THIS .uiTabset--default .tabs__item.active > a {
    color: #333;
    border-color: #333;
}

.THIS .uiTabset--default .tabs__item.active > a:hover {
    border-color: #333;
    border-bottom: 2px solid;
}

.THIS .uiTabset--default .tabs__item.active > a:focus {
    border-color: #333;
    border-bottom: 2px solid;
    box-shadow: rgb(211, 211, 211) 0px -1px 0px inset;
}

.THIS .forceCommunityRecordHomeTabs .recordHomePrimaryContent {
    width: 100%;
}

.THIS .forceCommunityRecordHomeTabs .forceRelatedListContainer .actionsContainer .forceActionsContainer a,
.THIS .forceCommunityRecordHomeTabs .forceRelatedListContainer .forceRelatedListSingleContainer .forceRelatedListPreview .forceContentRelatedListPreviewFileList .slds-button--neutral {
    color: #3e3e3e;
}

.THIS .uiButton--brand {
    background-color: #ea7323;
    transition: background-color .5s;
    cursor: pointer;
    border: none;
}

.THIS .uiButton--brand:hover {
    background-color: #c75b13;
    transition: background-color .5s;
    cursor: pointer;
}

.THIS .forceChatterFeedItemFullView .cuf-singleFeedItemWrapper {
    max-width: 100%;
}

.THIS .selfServiceCaseCreate button.buttonStyle {
    background-color: #ea7323;
    transition: background-color .5s;
}

.THIS .selfServiceCaseCreate button.buttonStyle:hover {
    background-color: #c75b13;
    transition: background-color .5s;
}

.THIS .forceChatterCompactFeed .metrics .views {
    display: none;
}

.THIS .forceCommunityRelatedRecords .forceRelatedListContainer .forceRelatedListSingleContainer .slds-card,
.THIS .forceCommunityRelatedRecords .forceRelatedListContainer .forceRelatedListSingleContainer,
.THIS .forceCommunityGroupRecordHomeTabs .detailRelatedList .slds-card {
    border-color: #f4f4f4;
}

.THIS .forceCommunityGroupRecordHomeTabs .detailRelatedList .slds-card:last-of-type {
    margin-bottom: 1rem;
}

/* Search results page overrides */

.THIS .contentPanel .forceCommunitySearch .scrollerWrapper {
    min-width: 12rem;
}

.THIS .contentPanel .forceCommunitySearch .resultsWrapper .forceSearchResultsRegion .forceSearchSearchResultsGridHeader {
    border: none;
    border-bottom: 1px solid rgb(244, 244, 244);
}

/* Settings page overrides */

/* commenting out the code that was hiding the save/cancel buttons for the profile setting page on mobile */
/*.THIS .forceCommunityUserSettings .savecancelbuttoncontainer:not(.hidecancelsavebutton) {
    display: none;
}*/

@media (max-width: 768px) {
    .THIS>.slds-grid {
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
    }

    .THIS .slds-grid .slds-col .ui-widget {
        padding: 10px 5px;
    }

    .THIS .slds-grid .slds-col {
        margin-right: 0;
        /* width: 100%; */
    }

    .THIS .ui-widget>div {
        padding: 15px 20px;
    }

    .THIS .ui-widget:first-of-type {
        margin-top: 0;
    }

    .THIS .ui-widget:last-of-type {
        margin-bottom: 0;
    }

    .THIS .ui-widget>.forceCommunityRecordListMobile, .THIS .ui-widget>.forceCommunityRelatedList {
        background-color: transparent;
        padding: 0;
    }

    .THIS .forceCommunityRecordListMobile .forceRecordLayout .bLeft {
        display: none;
    }

    .THIS .forceCommunityRecordListMobile .forceCommunityActionsContainerMobile button .slds-button--brand {
        background-color: #aaa;
        border-color: #aaa;
    }

    .THIS .forceCommunityRecordListMobile .forceCommunityActionsContainerMobile button .labelSpan {
        color: #3e3e3e;
    }

    .THIS .forceCommunityFeedPublisher ul.slds-button-group {
        margin-left: 0;
    }

    .THIS .forceCommunityActionButtonMobile.uiButton, .THIS .forceCommunityActionsContainerMobile .forceCommunityActionButtonMobile {
        padding: 5px 0;
    }

    .THIS .forceCommunityFeedItemDetail .forceChatterFeedback {
        display: none;
    }

    .THIS .forceCommunityRecordHomeTabs .forceCommunityRelatedRecords .forceBaseCard {
        margin-left: 0;
        margin-right: 0;
    }

    .THIS .forceCommunitySearch .resultsWrapper {
        float: none;
    }

    .THIS .forceChatterStyle .forceChatterFeedInner .forceChatterScroller .forceSearchFilterHeader .containerWrapper .right.cell {
        display: none;
    }
}