.THIS {
    height:350px;
}

.THIS .carousel-text-overlay h1 {
       font-family: 'open_sansregular';
       font-weight: bold;
       font-style: normal;
       line-height: 36px;
       font-size: 28px;
       color: #FFFFFF;
       text-align: left;
       max-width: 80%;
   }
   .THIS .carousel-text-overlay h2 {
       font-family: 'open_sansregular';
       font-weight: 400;
       font-style: normal;
       font-size: 14px;
       color: #FFFFFF;
       text-align: left;
       max-width: 80%;
   }