.THIS {
	height: 100%;
	position: relative;
}

.THIS .titleRow .title {
	font-weight: 700;
	color: #333;
}

.THIS .group-list:not(.active) {
	display: none;
}

.THIS .group-list {
	margin-top: 25px;
}

.THIS .group-list .hidden-groups:not(.active) {
	display: none;
}

.THIS .group-list .group {
	font-size: .78em;
	font-family: open_sanssemibold;
	margin-bottom: 20px;
}

.THIS .group-list .group h3 {
	text-transform: uppercase;
	color: #919191;
	font-family: open_sansbold;

}

.THIS .group-list .group h3 a {
	color: #8CB7C7;
	transition: color .5s;
}

.THIS .group-list .group h3 a:hover {
	color: #3086AB;
	transition: color .5s;
	text-decoration: none;
}

.THIS .group-list .groups-link {
	text-align: right;
	font-family: open_sanssemibold;
	color: #8cb7c7;
	font-size: .75em;
	position: static;
	bottom: 20px;
	right: 0;
}

.THIS .group-list .groups-link a {
	color: inherit;
}

.THIS .group-list .groups-link a .caret {
    position: relative;
    margin: 0 12px 0 4px;
    display: none;
}

.THIS .group-list .groups-link a .caret:before {
    content: '';
	position: absolute;
	top: 6px;
	left: 6px;
	border-top: 6px solid #aaa;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
}

.THIS .group-list .groups-link a .caret:after {
    content: '';
	position: absolute;
	left: 7px;
	top: 6px;
	border-top: 5px solid #ffffff;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}

.THIS .group-list .groups-link.active a .caret:before {
    border-top: none;
    border-bottom: 6px solid #000;
}

.THIS .group-list .groups-link.active a .caret:after {
    top: 7px;
    border-top: none;
    border-bottom: 5px solid #ffffff;
}

@media (max-width: 768px) {
	.THIS .group-list .groups-link {
		position: initial;
	}
}