.THIS {
	background-color: #b1bac1;
	height: 100%;
	width: 100%;
	position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
}

.THIS .content {
	justify-content: center;
	align-items: center;
	position: fixed;
  	top: 50%;
  	left: 50%;
  /* bring your own prefixes */
	transform: translate(-50%, -50%);
}

.THIS .content a {
	color: #fff;
	transition: color .5s;
}

.THIS .content a:hover {
	color: #333;
	transition: color .5s;
}