.THIS .search-wrapper {
    padding:0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.THIS .search-input-wrapper {
    /*display:inline-block;*/
    display: inline-flex;
    padding:0 20px 0 0;
}

.THIS .search-input-wrapper .input {
    min-height: initial;
    line-height: initial;
}

.THIS .searchBtn, .THIS .notificationBtn {
    display: inline-flex;
}

.THIS .search-wrapper .searchBtn {
    position: absolute;
    right: 55px;
    top: 4px;
}

.THIS .search-wrapper .slds-button:hover, .THIS .search-wrapper .slds-button:active, .THIS .search-wrapper .slds-button:focus {
    color: #aaa;
}

.THIS .search-wrapper .searchBtn .slds-button__icon {
    /* fill: #959595; */
    fill: #ea7323;
}

.THIS .search-wrapper .search-input-wrapper .uiInput {
    padding: 5px;
    border-radius: 25px;
    /* background-color: #d3d3d3; */
    background-color: #fff;
    padding-right: 40px;
    padding-left: 10px;
    width: 300px;
}

.THIS .search-wrapper .search-input-wrapper .uiInput::selection {
    background-color: #ddd;
}

.THIS .search-wrapper .search-input-wrapper .uiInput:focus {
    border-color: #959595;
    box-shadow: 0 0 3px #959595;
    outline: none;
}

/* ---- Typeahead styles --- */
.THIS .tt-menu {
    background-color: #fff;
    left: 15px !important;
    width: 272px !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 8 !important;
}

.THIS .tt-menu .tt-dataset {
    border: 1px solid #aaa;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.THIS .tt-menu .tt-dataset .tt-suggestion {
    margin-bottom: 5px;
    padding: 5px;
    font-family: open_sansregular;
    color: #aaa;
}

.THIS .tt-menu .tt-dataset .tt-suggestion:hover {
    cursor: pointer;
    background-color: #eee;
    color: #333;
}

.THIS .tt-menu .tt-dataset .tt-suggestion:last-of-type {
    margin-bottom: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media (max-width: 768px) {
    .THIS .search-wrapper .search-input-wrapper {
        width: 100%;
        padding: 0;
        margin-bottom: -22px;
    }

    .THIS .search-wrapper .search-input-wrapper .twitter-typeahead {
        width: 100%;
    }

    .THIS .search-wrapper .searchBtn {
        right: 35px;
        top: 4px;
    }

    .THIS .search-wrapper .search-input-wrapper .uiInput {
        background-color: #fff;
        border: 1px solid #fff;
        margin-bottom: 10px;
        width: 100%;
    }

    .THIS .search-wrapper .search-input-wrapper .twitter-typeahead .uiInput.tt-hint {
        position: initial !important;
    }

    .THIS .search-wrapper .search-input-wrapper .twitter-typeahead .uiInput:not(.tt-hint) {
        position: absolute !important;
        bottom: 0;
        left: 0;
    }

    .THIS .twitter-typeahead .tt-menu {
        top: 34px !important;
        width: 698px !important;
    }
}

@media (max-width: 767px) {
    .THIS .twitter-typeahead .tt-menu {
        width: 356px !important;
    }
}

@media (max-width: 424px) {
    .THIS .twitter-typeahead .tt-menu {
        width: 307px !important;
    }
}

@media (max-width: 374px) {
    .THIS .twitter-typeahead .tt-menu {
        width: 251px !important;
    }
}