.THIS {
}

.THIS>.slds-grid>.slds-col {
	padding-right: 16px;
}

.THIS>.slds-grid>.slds-col:last-of-type {
	padding-right: 0;
}

.THIS .ui-widget {
	margin-top: 0;
	margin-bottom: 16px;
}

.THIS .ui-widget:last-of-type {
	margin-bottom: 0;
}

.THIS .left .ui-widget>div,
.THIS .ui-widget selfservice-topic-trending-articles-list {
	background: transparent;
	border-radius: 10px;
	padding: 12px 16px;
}

.THIS .left .ui-widget>div {
	background-color: #fff;
}

.THIS .left .ui-widget>div.forceCommunityUserProfileBody .cProfileViewBody,
.THIS .right div[data-region-name="Sidebar"] .ui-widget>div {
	border-radius: 10px;

}

.THIS .right div[data-region-name="Sidebar"] .ui-widget>div,
.THIS .right div[data-region-name="Sidebar"] .ui-widget selfservice-topic-trending-articles-list
{
	background-color: #fff;
    padding: 3% 3% 0% 3%;
}

.THIS .right div[data-region-name="Sidebar"] .ui-widget selfservice-topic-trending-articles-list {
	display: block;
}

.THIS .right div[data-region-name="Sidebar"] .ui-widget,
.THIS .right .ui-widget>div.forceCommunityUserProfileStats,
.THIS .right .ui-widget>div.forceCommunityUserRelatedList {
	padding: 0;
}

.THIS .left .ui-widget>div.forceCommunityUserProfileBody,
.THIS .left .ui-widget>div.forceCommunityForceCommunityFeed,
.THIS .left .ui-widget>div.cCarousel {
	padding: 0;
}

.THIS .right div[data-region-name="Sidebar"] .ui-widget>div.forceCommunityUserRelatedList,
.THIS .right div[data-region-name="Sidebar"] .ui-widget>div.forceCommunityRelatedRecords {
	background: transparent;
}

.THIS .right .ui-widget>div.forceCommunityUserRelatedList .forceRelatedListContainer .forceRelatedListSingleContainer,
.THIS .right .ui-widget>div.forceCommunityRelatedRecords .forceRelatedListContainer .forceRelatedListSingleContainer {
	margin-bottom: 16px;
}

.THIS .right .ui-widget:last-of-type>div.forceCommunityUserRelatedList .forceRelatedListContainer .forceRelatedListSingleContainer:last-of-type,
.THIS .right .ui-widget:last-of-type>div.forceCommunityRelatedRecords .forceRelatedListContainer .forceRelatedListSingleContainer:last-of-type {
	margin-bottom: 0;
}

.THIS .right .ui-widget>div.forceCommunityUserRelatedList .forceRelatedListContainer .forceRelatedListSingleContainer .forceRelatedListCardDesktop {
	border: none;
	border-radius: 10px;
	padding-bottom: 0.1px;
}

.THIS .ui-widget>div.forceCommunityForceCommunityFeed {
	background-color: transparent;
}

.THIS .ui-widget>div.forceCommunityForceCommunityFeed .forceChatterScroller>div:first-of-type {
	background-color: #fff;
	border-radius: 10px;
}

.THIS .ui-widget>.forceCommunityGroupObjectHome {
	background-color: transparent;
	border-radius: 0;
	padding: 0
}

/* --- Featured Panel --- */
.THIS .featuredPanel>.slds-col>div {
	margin-bottom: 16px;
}

.THIS .featuredPanel .actionsContainer>.branding-actions {
	display: none;
}

.THIS .featuredPanel .slds-col>div.siteforceDesignTimeRegion:not(.interactions) {
	margin-bottom: 0;
}

.THIS .featuredPanel .slds-col>div.siteforceDesignTimeRegion:not(.interactions)>.ui-widget {
	margin-bottom: 16px;
}

.THIS div[data-region-name='Featured'] .ui-widget .forceCommunityHeadline .headlineTitle .forceIcon {
	display: none;
}

/* --- Group Banner --- */
.THIS .forceCommunityRecordHeadline .forceCommunityGroupHighlightStencilNapili {
	background-color:#FFF;
	border-radius: 10px;
}

/*.THIS .ui-widget .forceListViewManager {
	background-color: #fff;
	border-radius: 10px;
	padding: 18px 35px;
}*/

/*.THIS div[data-region-name='Featured'] .ui-widget .forceCommunityHeadline {
	margin-top: -60px;
}*/

/* ---- Tables styles overrides ---- */
/*.THIS .slds-grid .slds-col .ui-widget .forceCommunityRecordListDesktop .forceListViewManagerGrid table.resizable-cols {
	table-layout: initial;
}

.THIS .slds-grid .slds-col .ui-widget .forceCommunityRecordListDesktop .listDisplays {
	height: initial !important;
}

.THIS .forceListViewManager .listViewContainer .forceListViewManagerPrimaryDisplayManager .displayArea .listViewContent .uiScroller {
	height: 100% !important;
}
*/

.THIS .forceListViewManager .forceListViewManagerHeader .slds-grid .slds-has-flexi-truncate {
	position: absolute;
	top: -80px;
	left: 0;
}

.THIS .forceListViewManager .forceListViewManagerHeader .slds-grid .test-lvmForceActionsContainer {
	display: none;
	position: absolute;
	top: 15px;
}

.THIS .forceListViewManager .forceListViewManagerHeader .slds-media__figure {
	display: none;
}

.THIS .forceListViewManager .forceListViewManagerHeader .slds-media__body {
	display: flex;
	align-items: center;
}