/** * Created by Robert on 12/11/2017. */
 .THIS {
    padding: 0;
}
 .THIS .swiper-container {
     width: 100%;
     height: 100%;
}
 .THIS .swiper-slide {
     text-align: center;
     font-size: 18px;
     background: #fff;
     display: -webkit-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     -webkit-justify-content: center;
     justify-content: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     -webkit-align-items: center;
     align-items: center;
}
 .THIS .swiper-button-next {
     font-family: 'FontAwesome';
     background-image: none;
     width: auto;
     font-size:32px;
     color:#FFF;
     text-shadow: 0px 0px 10px #333;
}
 .THIS .next-below {
     right: 10px;
     left: auto;
     margin-top: 0;
     top: 0;
     font-size:16px;
     color:rgb(51, 51, 51);
}
 .THIS .swiper-button-prev {
     font-family: 'FontAwesome';
     background-image: none;
     width: auto;
     font-size:32px;
     color:#FFF;
     text-shadow: 0px 0px 10px #333;
}
 .THIS .prev-below {
     margin-top: 0;
     top: 0;
     left: 10px;
     right: auto;
     font-size:16px;
     color:rgb(51, 51, 51);
}
 .THIS .swiper-button-prev:before {
     content: "\f053";
}
 .THIS .swiper-button-next:before {
     content: "\f054";
}
 .THIS .swiper-pagination-below {
     position: inherit;
}
 .THIS .swiper-pagination-bullet {
     width: 14px;
     height: 14px;
     margin: 0 5px;
}
 .THIS .swiper-pagination-bullet-active {
     background: #ea7323;
}
 .THIS .nav-container-below {
     position: relative;
     width: 100%;
     line-height: 40px;
}
 .THIS .dots-overlay {
     bottom: 10px;
}

.THIS .dots-overlay .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background: #FFF;
}

.THIS .carousel-text {
    padding-top: 15px;
    font-style: normal;
    font-size: 14px;
    text-align: center;
}

.THIS h1 {
    font-family: 'open_sansregular';
    font-weight: bold;
    font-style: normal;
    line-height: 26px;
    font-size: 20px;
    text-align: left;
    max-width: 80%;
}
.THIS  h2 {
    font-family: 'open_sansregular';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-align: left;
    max-width: 80%;
}

.THIS .carousel-text-overlay {
    padding: 15px 40px 35px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
    border: none;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: inherit;
    color: #FFF;
    bottom: 0;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
}

.THIS .inner-dots {
    padding: 15px 40px 45px;
}